.header {
    background-color: var(--primary);
    padding: 0 0px;
    display: flex;
    align-content: baseline;
    position: sticky;
    z-index: 2000;
    top: 0;
    background-color: black;
}

.header-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.links-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0px 0px;
}

.links-row a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 16px;
    border-bottom: 2px solid transparent;
    transition: .3s ease all;
}

.links-row a:hover {
    border-bottom: 2px solid white;
    transition: .3s ease all;
    cursor: pointer;
    color: white;
}

.logo a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    margin: 0 16px;
    border-bottom: 2px solid transparent;
    transition: .3s ease all;
    font-size: 32px;
    transition: .5s ease all;
}

.logo a:hover {
    color: blue;
    border-bottom: 2px solid transparent;
    transition: .5s ease all;
}

.header-manage {
    display: flex;
    align-items: center;
}