.news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}

.news-item-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: all 0.3s ease;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: black;
}

.news-item-content-views,
.news-item-content-comments,
.news-item-content-rating {
    display: flex;
    align-items: baseline;
}

.news-item-content-views-text,
.news-item-content-comments-text,
.news-item-content-rating-text {
    margin: 4px;
}

.news-item:hover .news-item-content {
    transform: rotateX(0deg);
    transition: all 0.3s ease;
}

.news-item-body {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-item-preview {
    width: 100%;
    object-fit: cover;
    height: 160px;
    border-radius: 6px 6px 0px 0px;
    border: 0px;
}

.news-item-category {
    color: blue;
    font-weight: bold;
}

.blankspace {
    height: 64px;
}

.news-item-title {
    color: black;
}

.news-item-title:hover {
    /* color: #6f6f6f; */
    cursor: pointer;
    text-decoration: underline;
}

.news-item-publish-time,
.news-item-author {
    color: #6f6f6f;
}

.divider {
    height: 1px;
    background-color: #f5f5f5;
}

.news-item-lower-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
}