.last-news-item{
    background-color: var(--background-color);
    margin: 16px 0;
    width: 244px;
}

.last-news-item:hover .last-news-item-title{
    text-decoration: underline;
    cursor: pointer;
}

.last-news-item-title{
    color: var(--card-title-color);
}

.last-news-item-lower, 
.last-news-item-lower-views{
    display: flex;
    font-size: 14px;
}

.last-news-item-lower{
    justify-content: space-between;
    color: var(--card-subtitle-color);
    margin: 0;
}

.last-news-item-lower-publishtime{
    margin: 4px 0;
}

.last-news-item-lower-views{
    justify-content: center;
    align-items: center;
}

.last-news-item-lower-views-text{
    margin: 0 0 0 4px;
}