#root {
  margin: 0;
  background-color: black;
}

body {
  background-color: white;
}

.new {
  background-color: white;
  color: black;
}

.new input{
  background-color: white;
  color: black;
}

.new select{
  background-color: white;
  color: black;
}

