:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: black;
  --font-color: white;
  --card-background-color: black;
  --card-subtitle-color: yellow;
  --card-title-color: white;
  --card-title-color-hover: yellow;
}

.index{
  display: flex;
}

.index-divider{
  /* width: 10%; */
}

.index-content{
  display: flex;
  flex-direction: column;
}

.index-news{
  display: flex;
}

.index-news-last{
  margin: 0 16px;
}

.index-news-last h4,
.index-news-other h4{
  font-size: 24px;
  color: var(--font-color);
}

.index-news-other{
  margin: 0 16px 32px 16px;
}

body {
  margin: 0;
}



